{% extends 'base.html' %}
{% block title %} G-Store {% endblock title %}

{% block content %}
    <section id="thank-you">
        <div class="text-center">
            <br><br>
            <h1 class="text-center product_title">
                Thanks for placing your order
            </h1>
            <br><br>
            <p>You order number is: <b>{{ customer_order }}</b></p>
            <br>
            <p>
                We have received your order and will begin processing right away.
                An email confirmation has been sent. It contains details of the item you have purchaed.
            </p>
        </div>
    </section>
{% endblock content %}